.main {
  padding-bottom: 7rem;
  flex-grow: 1;
  overflow: hidden;

  @media screen and (min-width: 1071px) {
    padding-bottom: 0;
  }
}

.content {
  display: flex;
  align-items: start;
  padding-bottom: 2rem;
}
